force-app/main/default/flows/Alert_Change_to_Freeze_All_on_Treatment_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Freze_all_Change</name>
        <label>Send Freeze all Change</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Cycle__c.New_Freeze_All_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cycle__c.New_Freeze_All_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Changed_to_Yes</name>
        <label>Changed to Yes</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Freeze_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freeze_All_Options__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Freze_all_Change</targetReference>
            </connector>
            <label>Yes Freeze All</label>
        </rules>
    </decisions>
    <description>Alerts all groups if cycle is changed to freeze all.</description>
    <environments>Default</environments>
    <interviewLabel>Alert Change to Freeze All on Treatment Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert Change to Freeze All on Treatment Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_to_Yes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Freeze_All_Options__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Clinic_Cycle_Being_Undertaken_at_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </filters>
        <object>Cycle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
