force-app/main/default/flows/Alert_Scan_Result_Added.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Scan_email</name>
        <label>Send Scan email</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>Result__c.New_Scan_Result_Create_Fertility</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Result__c.New_Scan_Result_Create_Fertility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Clinic_Name</name>
        <label>Clinic Name</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clinic_Name_Pat</name>
        <label>Clinic Name Pat</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient__r.Account.Household_Clinic__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create</name>
        <label>Create?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Clinic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClinicName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Scan_email</targetReference>
            </connector>
            <label>Create Clinic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Origin</name>
        <label>Result Origin?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Clinic_Name_Pat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
    </decisions>
    <description>New Scan result added and email sent to create nurses.</description>
    <environments>Default</environments>
    <interviewLabel>Alert Scan Result Added {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert Scan Result Added</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clinic_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Result_Origin</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000afIyAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000adRWAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000adRMAAY</stringValue>
            </value>
        </filters>
        <object>Result__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ClinicName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
