force-app/main/default/flows/Create_Invoice_for_ICSI_and_Embryo_Glue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Email</name>
        <label>Create Email</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <actionName>Invoice__c.New_ICSI_Invoice_Created_Create</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InvoiceVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invoice__c.New_ICSI_Invoice_Created_Create</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Ballarat</name>
        <label>Email Ballarat</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <actionName>Invoice__c.New_ICSI_Invoice_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>InvoiceVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invoice__c.New_ICSI_Invoice_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Flow_error</name>
        <label>Flow error</label>
        <locationX>774</locationX>
        <locationY>539</locationY>
        <actionName>Cycle_Event__c.Flow_Error</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cycle_Event__c.Flow_Error</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Invoice_Variables</name>
        <label>Assign Invoice Variables</label>
        <locationX>294</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>InvoiceVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__r.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Invoice_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Medicare_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item</name>
        <label>Assign Line Item</label>
        <locationX>294</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medicare_Item.Medicare_Item_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Service_Item_Name_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Linked_Service_Item__r.Service_Item_Discription__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Invoice_Variables</name>
        <label>Copy 1 of Assign Invoice Variables</label>
        <locationX>334</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InvoiceVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cycle__r.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceVar.Invoice_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Line_Item</name>
        <label>Copy 1 of Assign Line Item</label>
        <locationX>334</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Invoice_Line_Item.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvocieLineVar.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceVar.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No Invoice</label>
        </rules>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Ballarat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ballarat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Ballarat</targetReference>
            </connector>
            <label>Ballarat</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICSI_Event</name>
        <label>Event Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Flow_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Glue_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000000ahfuAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ballarat</stringValue>
                </rightValue>
            </conditions>
            <label>No Glue Event</label>
        </rules>
        <rules>
            <name>ICSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Eggs_Inseminated_with_ICSI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ICSI_Loop</targetReference>
            </connector>
            <label>ICSI</label>
        </rules>
        <rules>
            <name>Glue_EVent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000000ahfuAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Invoice_Line_Items</targetReference>
            </connector>
            <label>Glue Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Glue_Items</name>
        <label>No Glue Items</label>
        <locationX>466</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Glue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Invoice_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Invoice_Variables</targetReference>
            </connector>
            <label>No Glue</label>
        </rules>
    </decisions>
    <decisions>
        <name>None_Found</name>
        <label>None Found</label>
        <locationX>426</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>ICSI_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_ICSI_Invoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Variables</targetReference>
            </connector>
            <label>No ICSI Invoices</label>
        </rules>
    </decisions>
    <description>Flow auto creates and invoice when the lab create an ICSI of embryo glue event.</description>
    <environments>Default</environments>
    <interviewLabel>Create Invoice for ICSI and Embryo Glue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice for ICSI and Embryo Glue</label>
    <loops>
        <name>ICSI_Loop</name>
        <label>ICSI Loop</label>
        <locationX>206</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Cycle_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Invoice_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Invoice</name>
        <label>Copy 1 of Create Invoice</label>
        <locationX>294</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Assign_Line_Item</targetReference>
        </connector>
        <inputReference>InvoiceVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Invoice_Line_Item</name>
        <label>Copy 1 of Create Invoice Line Item</label>
        <locationX>334</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Email_Alert</targetReference>
        </connector>
        <inputReference>InvocieLineVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>334</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Line_Item</targetReference>
        </connector>
        <inputReference>InvoiceVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Line_Item</name>
        <label>Create Invoice Line Item</label>
        <locationX>294</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>ICSI_Loop</targetReference>
        </connector>
        <inputReference>InvocieLineVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Invoice_Line_Item</name>
        <label>Copy 1 of Get Invoice Line Item</label>
        <locationX>334</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Glue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Invoice_Line_Items</name>
        <label>Get Invoice Line Items Glue</label>
        <locationX>466</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Glue_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Glue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Price</name>
        <label>Copy 1 of Get Price</label>
        <locationX>334</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linked_Service_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Invoice_Line_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Pricing_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Invoice</name>
        <label>Get Cycle Invoice</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICSI_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Line_Items</name>
        <label>Get Invoice Line Items</label>
        <locationX>426</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>None_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ICSI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICSI_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Item</name>
        <label>Get Medicare Item</label>
        <locationX>294</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Medicare_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13251</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>294</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Pricing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Linked_Medicare_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medicare_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Medicare_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Invoice</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Number_of_Eggs_Inseminated_with_ICSI__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000ahfuAAA</stringValue>
            </value>
        </filters>
        <object>Cycle_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Invoice_Medicare_Record_Type</name>
        <label>Get Invoice Medicare Record Type</label>
        <locationX>294</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Medicare Item</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>InvocieLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InvoiceVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
